//user defined vars
$body-bg: whitesmoke;


// Font Variables
$roboto-slab: 'Roboto Slab', serif;
$open-sans: 'Open Sans', sans-serif;

// --- Pages --- //

  //Profile
$height-image: 200px;
$margin-image: $height-image / 2;



//bulma stuff
$navbar-height: 60px;



