//user defined vars
$body-bg: whitesmoke;
$footer-height: 100px;

$notification-data-flex: 3;
$notification-actions-flex: 1;

// Upload input
$preview-image-height: 200px;
$preview-image-width: 200px;
// Font Variables
$roboto-slab: 'Roboto Slab', serif;
$open-sans: 'Open Sans', sans-serif;

// --- Pages --- //

  //Profile
$profile-image-border-width: 4px;
$profile-image-width: 200px;
$profile-image-height: $profile-image-width;
$profile-image-offset: $profile-image-width / (5 / 4);
$profile-avatar-image-width: $profile-image-width / 2 + 10px;
$profile-avatar-image-height: $profile-avatar-image-width;

//course
$course-box-image-height: 160px;
$course-box-user-image-height: 48px;
$course-box-user-image-width: 48px;

//bulma stuff
$navbar-height: 60px;
$panel-heading-background-color: #fff;

