//user defined vars
$body-bg: whitesmoke;
$container-margin: 30px auto auto;
$footer-height: 100px;

$notification-data-flex: 3;
$notification-actions-flex: 1;

// Font Variables
$roboto-slab: 'Roboto Slab', serif;
$open-sans: 'Open Sans', sans-serif;

// --- Pages --- //

  //Profile
$height-image: 200px;
$margin-image: $height-image / 2;



//bulma stuff
$navbar-height: 60px;



