.course-watch{
  margin: 10px;
}

.course-box{
  position: relative;
  transition: box-shadow 150ms ease;
  &.course-joined{
    // because css doesn't have box-shadow-color we need to hard code the values... :<
    // also looks ugly
    box-shadow: 0 2px 3px rgba(35, 209, 96, 0.5), 0 0 0 1px rgba(35, 209, 96, 0.5);
  }
  &:hover{
    box-shadow: 0 2px 8px rgba(10, 10, 10, 0.2), 0 0 0 1px rgba(10, 10, 10, 0.1);
  }
  .playlist-button{
    position: absolute;
    right: 4px;
    top: 4px;
    .dropdown-content{
      max-height: 300px;
      overflow-y: auto;
    }
    .playlist-button-header{
      text-align: center;
      font-weight: 800;
    }
  }
  .course-image{
    height: $course-box-image-height;
  }
  .course-user-image{
    width: $course-box-user-image-width;
    height: $course-box-user-image-height;
  }
  .course-title{
    @include clampText(4);
    font-size: 1.1em;
    font-weight: bold;
    height: 98px;
    margin-bottom: 2px;
  }
  .course-content{
    height: 124px;
    font-size: .85em;
    color: lighten($dark, 20);
    overflow: hidden;
  }
  .card-content > a{
    color:inherit;
    text-decoration: none;
  }
}

.course-welcome{
  .course-hero {
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    .background-filter{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0,0,0,.5);
    }
    .hero-body{
      padding: 0;
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .container{
        &.tag-container{
          margin-top: 15px;
          display:block;
          text-align: center;
          .tag { margin-right: 10px; margin-top: 10px; }
        }
        display: flex;
        .columns{
          .column{
            display: flex;
            justify-content: center;
            flex-direction: column;
          }
        }
        .title, .subtitle{
          color: $light;
        }
        button.apply{
          width: 250px;
        }
        .apply-container{
          margin-top: 12px;
          text-align: center;
        }
      }
    }
  }
}
