body {
  background: $body-bg;
  // Need for footer
  position: relative;
  min-height: 100%;
  padding-bottom:160px;
}

/* region footer */
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 30px;
  background-color: #dfdfdf;
  .footer-bottom{
    font-size: .9em;
    text-align: center;
  }
}
/* endregion */

.navbar {
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1);
}

.flex-container {
  padding: 10px 25px;
}

.cp {
  cursor: pointer !important;
}

.ca {
  cursor: auto !important;
}

.is-rounded {
  border-radius: 9999px !important;
}

/* region dumb/Collapse.vue (unfinished) */

.collapse {
  &.collapse-trigger {
    background-color: white;
    padding: 10px;

  }
}

/* endregion */

.container.container-lower { //container margin-top
  margin: $container-margin;
}

/* region Left side settings panel */
.panel-settings, .panel-settings *{
  background: #fff !important;
}
/* endregion */
