body {
  padding: 0;
  height: 100%;
}
#app{
  padding-bottom: $footer-height + 10px;
}
html {
  position: relative;
  min-height: 100%;
  background: $body-bg;

}

.navbar {
  box-shadow: 0 0 1px 1px rgba(20, 23, 28, .1), 0 3px 1px 0 rgba(20, 23, 28, .1);
}

.cp { cursor: pointer !important }
.ca { cursor: auto !important }
.is-rounded { border-radius: 9999px !important }
.no-text-decoration { text-decoration: none }
.content-lower { //container margin-top
  margin-top: 30px;
}
.is-fullwidth{
  display: block;
  width: 100%;
}

.margin-bottom { // standard bulma mb height
  margin-bottom: 1.5rem;
}

.flex-center{
  display: flex;
  justify-content:center;
  align-items:center;
}