/*region navmenu-classes */
.navbar-classes {
  padding: 0;
}

.school-classes {
  $width: 160px;
  position: relative;
  margin: 0;
  padding: 0;
  li {
    width: $width;
    a {
      display: block;
      padding: 6px 14px;
      transition: all ease .2s;
      border-left: 0 solid $primary;
      &.is-active {
        border-left: 5px solid darken($primary, 10);
      }
      &:hover {
        border-left: 5px solid darken($primary, 10);
        color: gray !important;
      }
    }
    &:not(:last-child) a {
      border-bottom: 1px solid lightblue;
    }
  }
}

/* endregion */
.search-bar{
  width: 300px;
}
/* region navmenu-notifications and notifications page */

.navbar-notifications {
  padding: 0;
  width: 300px;
}
.search-container{
  padding: 10px;
}
.notification-container {
  max-height: 400px;
  overflow-y: auto;
}
.notification-item {
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:not(.no-hover):hover {
    background-color: $dropdown-item-hover-background-color;
  }
  .data {
    flex: $notification-data-flex;
    .title {
      margin-bottom: 4px;
      font-weight: 700;
      font-size: 1.2em;
    }
    .description {
      font-size: .9em;
    }
    .meta{
      font-size: .8em;
      color: lighten($dark, 20);
    }
  }
  .actions {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: $notification-actions-flex;
  }
},
.notification-action-header {
  display: flex;
  .data{
    flex: $notification-data-flex;
    align-items: center;
    justify-content: center;
  }
  .actions {
    flex: $notification-actions-flex;
    display: flex;

    align-items: center;
    justify-content: center;
  }
}


/* endregion */
