.playlists {
  background-color: white;
  height: 100% !important;
  box-shadow: 0 0 8px rgba(119,119,119,.5);
  min-height: 70vh !important;
  .menu-label {
    text-align: center;
    padding: 10px !important;
  }
  .leftsidePlaylists {
    box-shadow: 4px 0 4px 0 rgba(204,204,204,.75);
    .playlistsBar {
      color: black;
      line-height: 18px;
      display: block;
      padding: 0 !important;
      margin: 0 !important;

      a {
        color: black;
        transition: all ease .3s;
        border-left: 5px solid white;
        border-bottom: 1px solid #eee;
        font-weight: 200;
        font-size: 15px;
        &.first {
          border-top: 1px solid #eee;
          color: $primary;
        }
        &.is-active {
          border-left: 5px solid darken($primary, 10);
          background-color: white !important;
        }
        &:hover {
          border-left: 5px solid darken($primary, 10);
          color: gray !important;
          background-color: white;
        }
      }
    }
  }
  .rightsidePlaylists {
    position: relative;
    margin: 0 20px;
    .addPlaylistBoxContainer{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      .addPlaylistBox {
        &:hover {
          cursor: pointer;
          background-color: whitesmoke !important;
        }
        .add {
          text-align: center;
        }
      }
    }
    .header {
      height: auto;
      .playlistTitle {
        font-size: 25px;
        font-weight: 500;
        text-overflow: ellipsis;
        overflow: hidden;
        word-break: break-all;
      }
      .playlistDescription {
        margin-top: 10px;
        font-weight: 300;
        word-break: break-all;
        overflow: hidden;
      }
      .playlistActions {
        li {
          a {
            span:hover {
              text-decoration-line: underline;
            }
          }
        }
      }
    }
  }
}
