.playlists {
  background-color: white;
  height: 100% !important;
  box-shadow: 0 0 8px rgba(119,119,119,.5);
  min-height: 70vh !important;
  .menu-label {
    text-align: center;
    padding: 10px !important;
  }
  .leftside_playlists {
    box-shadow: 4px 0 4px 0 rgba(204,204,204,.75);
    .playlists-bar {
      color: black;
      line-height: 18px;
      display: block;
      padding: 0 !important;
      margin: 0 !important;

      a {
        color: black;
        transition: all ease .3s;
        border-left: 5px solid white;
        border-bottom: 1px solid #eee;
        font-weight: 200;
        font-size: 15px;
        &.first {
          border-top: 1px solid #eee;
        }
        &.is-active {
          border-left: 5px solid darken($primary, 10);
        }
        &:hover {
          border-left: 5px solid darken($primary, 10);
          color: gray !important;
          background-color: white;
        }
      }
    }
  }
  .rightside_playlists {
    margin: 0 20px;
    .header {
      height: auto;
      .playlist_title {
        font-size: 25px;
        font-weight: 500;
        padding: 10px;
      }
      .playlist_description {
        margin-top: 10px;
        font-weight: 300;
      }
    }
    .content {

    }
  }
}

.course_box {
  border-radius: 0 !important;
}
