.profile-page {
  .header {
    .banner {
      height: 300px;
      background: #e9ecee;
    }
    .profile-nav {
      position: relative;
      .profile-image {
        position: absolute !important;
        width: $profile-image-width;
        height: $profile-image-height;
        border-radius: 100%;
        border: $profile-image-border-width solid white;
        top: -$profile-image-offset;
      }
      .profile-avatar-image {
        @extend .profile-image;
        width: $profile-avatar-image-width;
        height: $profile-avatar-image-height;
        left: $profile-avatar-image-width / (2 / 3);
        top: $profile-image-height - $profile-avatar-image-height - $profile-image-border-width;
        background: $info;
        transition: transform .5s cubic-bezier(0.62,-1.13, 0.37, 2.35);
        &:hover {
          transform: scale(1.1);
        }
      }
      .progress-container{
        //margin-left: $profile-image-width + $profile-avatar-image-width;
        .progress {
          margin: 0;
          width: 300px;
        }
        .status {
          margin-right: 4px;
          font-size: .9rem;
        }
      }
      .navbar-start {
        margin-left: $profile-image-width + $profile-avatar-image-width;
      }
    }
  }

  .fullname {
    @extend .title, .is-3;
    font-weight: 400;
    margin: 0 !important;
  }
  .username-link {}
  .description {
    @extend .content;
  }
  .user-info-item {
    font-size: 15px !important;
    color: #657786;
    margin-top: 5px;
  }
  .user-data-container {
    margin-top: 30px;
  }
  .card {
    margin-bottom: 20px;
    &.achievements-card {
      .card-header { cursor: pointer }
      .achievement-count {
        color: lighten($dark, 20);
        margin-left: 10px;
        font-size: .9em;
      }
      .card-header-icon { color: #eac600 }
      .card-content { overflow-x: auto }
      .achievements-container{
        display: inline-flex;

      }
    }
  }
  .box.post-box {
    &:hover .meta {
      color: lighten($dark, 10);
      border-top: 1px solid darken(whitesmoke, 5);
    }
    .meta {
      transition: all .3s;
      margin-top: 10px;
      border-top: 1px solid whitesmoke;
      padding-top: 10px;
      font-size: .8em;
      color: lighten($dark, 30);
      display: flex;
      .date {
      }
      .is-private {
        flex: 1;
      }
    }
  }
}


/* region Recompense */
.customBox {
  margin: 5px;
  position: relative;
  width: 94px;
  height: 92px;
  border-radius: 2px;
  background: #FFFFFF;
  box-shadow: 0 2px 2px 0 rgba(26, 24, 29, 0.15), 0 1px 4px 0 rgba(26, 24, 29, 0.1);
  border: 1px solid transparent;

  &:hover {
    box-shadow: 0 4px 4px 0 rgba(26, 24, 29, 0.16), 0 1px 8px 0 rgba(26, 24, 29, 0.12);
    border-color: $primary;
  }


}
/* endregion */

/* region Tooltip Recompense */
.tooltipCustom {
  position: relative;
  display: inline-block;

  .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 110%;
  }

  .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent transparent black;
  }
  &:hover .tooltiptext {
    visibility: visible;
  }
}

/* endregion */


/* region Navbar Secundar */
.navbar {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25) !important;
  box-sizing: border-box;

}
/* endregion */

